/* Global attributes */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* --white: rgb(255, 255, 255); */
    --white-faint: rgba(240, 248, 255, 0.622);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--white-faint);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.grid{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: 1rem;
}

.grid-content{
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.grid-header{
    display: flex;
    width: 11rem;
    justify-content: space-between;
    align-items: center;
}

.grid-header .profile img{
    width: 3rem;
    border-radius: 2rem;
}

.grid-body{
    padding: 1rem 0 0 0;
}

.grid-body .intro{
    font-size: 1.5rem;
}

.grid-body .quote{
    padding: 0.5rem 0 0 0;
}

/* First Purple Grid */
#purple{
    width: 50%;
    background-color: var(--violet);
}

#purple .grid-content{
    position: relative;
}

#purple .grid-content #quotation{
    position: absolute;
    left: 60%;
    /* top: 0; */
}

#purple .profile img{
    border: 2px solid rgba(171, 40, 171, 0.717);
}

#purple .name h3{
    color: var(--white);
}

#purple .name p{
    color: var(--Light-gray);
}

#purple .grid-body .intro{
    position: relative;
    z-index: 100;
    color: var(--white);
} 

#purple .grid-body .quote{
    color: var(--Light-gray);
}

/* Second Gray Grid */
#gray{
    width: 30%;
    background-color: var(--dark-grayish-blue);
}

#gray .profile img{
    border: 2px solid rgb(118, 107, 118);
}

#gray .grid-header{
    width: 12rem;
}

#gray .name h3{
    color: var(--white);
}

#gray .name p{
    color: var(--Light-gray);
}

#gray .grid-body .intro{
    color: var(--white);
} 

#gray .grid-body .quote{
    color: var(--Light-gray);
}

/* Third White Grid */
.white{
    width: 30%;
    background-color: var(--white);
}

.white .grid-header{
    width: 12rem;
}

.white .grid-header h3{
    color: var(--dark-grayish-blue);
}

.white .grid-header p{
    color: var(--Light-gray);
}

.white .grid-body .intro{
    color: var(--dark-grayish-blue);
} 

.white .grid-body .quote{
    color: var(--Light-gray);
}

/* Fourth Blue Grid  */

#blue{  
    width: 50%;
    background-color: var(--dark-blackish-blue);
}

#blue .profile img{
    border: 2px solid rgba(171, 40, 171, 0.717);
}

#blue .grid-header h3{
    color: var(--white);
}

#blue .grid-header p{
    color: var(--Light-gray);
}

#blue .grid-body .intro{
    color: var(--white);
} 

#blue .grid-body .quote{
    color: var(--Light-gray);
}

